<html>
  <head>
    {% load staticfiles %}
  <meta charset="utf-8">
  <title>Excel 2018</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "controlroom/css/venue.css" %}">
  <link rel="stylesheet" href="{% static "controlroom/css/home.css" %}">
  
</head>

<body>
  <div class="container" style="text-align: center;margin: auto;padding: auto;padding-top:10px;">

    <div class="fixed-top col-sm-1 " style="background-color: #d55d74;">
      <a href="\">
        <button class="home_button">Home</button>
      </a>
     </div>

    <div class="row">
      <div class="text-center col-sm-12">
        <h1  class="k">Excel 2018 </h1>
      </div>

    <div class="col-sm-12" style="margin-top:100px;">
        <div class="col-sm-offset-4 col-sm-4 ">
          <a href="/online/">
            <button class="button">Register User</button>
          </a>
      </div>
    </div>

    <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-offset-4 col-sm-4">
          <a href="/paidreg/">
            <button class="button">Paid Registration</button>
          </a>
      </div>
    </div>

      <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-offset-4 col-sm-4">
          <a href="/eventnav/">
            <button class="button">Events</button>
          </a>
      </div>
      </div>

      <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-offset-4 col-sm-4">
          <a href="/searchby/">
            <button class="button">Search</button>
          </a>
      </div>
      </div>

      <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-offset-4 col-sm-4">
          <a href="/certificate/">
            <button class="button">Certificate</button>
          </a>
      </div>
      </div>

      <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-offset-4 col-sm-4">
          <a href="/userdata/">
            <button class="button">Download Participant Data</button>
          </a>
      </div>
      </div>


</body>
